div.oneDrop {
  position: absolute;
  left: 604px;
  top: 10px;
  /* border: solid red; */
  width: 272px !important;
  height: 187px !important;


}

div.twoDrop {
  position: absolute;
  left: 872px;
  top: 10px;
  /* border: solid red; */
  width: 268px !important;
  height: 187px !important;

}

div.threeDrop {
  position: absolute;
  left: 1140px;
  top: 10px;
  /* border: solid red; */
  width: 272px !important;
  height: 187px !important;

}

div.fourDrop {
  position: absolute;
  left: 604px;
  top: 197px;
  /* border: solid red; */
  width: 272px !important;
  height: 187px !important;

}

div.fiveDrop {
  position: absolute;
  left: 872px;
  top: 197px;
  /* border: solid red; */
  width: 268px !important;
  height: 189px !important;

}

div.sixDrop {
  position: absolute;
  left: 1140px;
  top: 197px;
  /* border: solid red; */
  width: 274px !important;
  height: 189px !important;

}

div.sevenDrop {
  position: absolute;
  left: 604px;
  top: 384px;
  /* border: solid red; */
  width: 272px !important;
  height: 187px !important;

}

div.eightDrop {
  position: absolute;
  left: 873px;
  top: 384px;
  /* border: solid red; */
  width: 272px !important;
  height: 187px !important;

}

div.nineDrop {
  position: absolute;
  left: 1140px;
  top: 384px;
  /* border: solid red; */
  width: 272px !important;
  height: 187px !important;

}

div.one {
  position: absolute;
  left: 70px;
  top: 680px;
  /* border: solid red; */
  width: 250px !important;
  height: 187px !important;
  /* display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-flow: wrap;
   */
  text-align: center;
}

div.one img {
  position: relative;
  /* top: 50px; */
  padding: 10px;
  width: 80%;
}

div.two {
  position: absolute;
  left: 325px;
  top: 680px;
  /* border: solid red; */
  width: 250px !important;
  height: 187px !important;
  /* display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-flow: wrap;
   */
  text-align: center;
}

div.two img {
  position: relative;
  /* top: 50px; */
  padding: 10px;
  width: 80%;
}

div.three {
  position: absolute;
  left: 580px;
  top: 680px;
  /* border: solid red; */
  width: 250px !important;
  height: 187px !important;
  /* display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-flow: wrap;
   */
  text-align: center;
}

div.three img {
  position: relative;
  /* top: 50px; */
  padding: 10px;
  width: 80%;
}

div.four {
  position: absolute;
  left: 835px;
  top: 680px;
  /* border: solid red; */
  width: 250px !important;
  height: 187px !important;
  /* display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-flow: wrap;
   */
  text-align: center;
}

div.four img {
  position: relative;
  /* top: 50px; */
  padding: 10px;
  width: 80%;
}

div.five {
  position: absolute;
  left: 1090px;
  top: 680px;
  /* border: solid red; */
  width: 250px !important;
  height: 187px !important;
  /* display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-flow: wrap;
   */
  text-align: center;
}

div.five img {
  position: relative;
  /* top: 50px; */
  padding: 10px;
  width: 80%;
}

div.six {
  position: absolute;
  left: 1345px;
  top: 680px;
  /* border: solid red; */
  width: 250px !important;
  height: 187px !important;
  /* display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-flow: wrap;
   */
  text-align: center;
}

div.six img {
  position: relative;
  /* top: 50px; */
  padding: 10px;
  width: 80%;
}

div.seven {
  position: absolute;
  left: 1600px;
  top: 680px;
  /* border: solid red; */
  width: 250px !important;
  height: 187px !important;
  /* display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-flow: wrap;
   */
  text-align: center;
}

div.seven img {
  position: relative;
  /* top: 50px; */
  padding: 10px;
  width: 80%;
}